@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::selection {
  background-color: #e9ebf1;
  color: #0a0b0e;
} */

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  :root {
    --color-primary: #eeeded;
    --color-secondary: #222222;
    --color-tertiary: #e0eeee;
  }
}

@layer utilities {
}

@layer components {
  .label-black {
    background-color: theme("colors.secondary");
    color: theme("colors.primary");
  }
}
