@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::selection {
  background-color: #37fd12;
  color: #222222;
} */

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  background-color: var(--color-primary);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@layer base {
  :root {
    --color-primary: #eeeded;
    --color-secondary: #222222;
    --color-tertiary: #e0eeee;
    --color-accent: #37fd12;

    --container-padding: clamp(1rem, 0.5665rem + 1.8497vw, 2rem);
  }
}

@layer utilities {
}

@layer components {
  .label-black {
    background-color: theme("colors.secondary");
    color: theme("colors.primary");
  }
}
